<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="highlight" converterClass="wekb.custom.CustomLogbackForegroundCompositeConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) --- %-58.64([%t] %logger{42}) : %ex{12}%replace(%msg){'Stacktrace follows:','Full stacktrace is suppressed..'}%n</pattern>
        </encoder>


        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    <!-- WARN -> HHH90000022: Hibernate's legacy org.hibernate.Criteria API is deprecated; use the JPA javax.persistence.criteria.CriteriaQuery instead -->
                    if (message.contains("HHH90000022")) return true;

                    return false;
                </expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="wekb" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>
